@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Museo 300';
	src: url('../fonts/Museo-300.eot');
	src: url('../fonts/Museo-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Museo-300.woff') format('woff'),
		url('../fonts/Museo-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo 500';
	src: url('../fonts/Museo-500.eot');
	src: url('../fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Museo-500.woff') format('woff'),
		url('../fonts/Museo-500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}



//@import 'variables';
@import "../../node_modules/typeplate-starter-kit/scss/typeplate-vars";

$font_main: 'Museo 300', Helvetica, sans-serif;
$font_main_bold: 'Museo 500', Helvetica, sans-serif;
$font_content: 'Open Sans', Arial, sans-serif;
$typl8-serif-boolean: false;
$typl8-custom-font: true;
$typl8-font-family: $font_content;
$typl8-line-height: 1.65;
$typl8-font-size: 100;

//
// typl8-tera                    117 = 18 × 6.5
// typl8-giga                     90 = 18 × 5
// typl8-mega                     72 = 18 × 4
// typl8-alpha                    60 = 16 × 3
// typl8-beta                     50 = 16 × 2.441
// typl8-gamma                    31 = 16 × 1.953
// typl8-delta                    25 = 16 × 1.563
// typl8-epsilon                  20 = 16 × 1.25
// typl8-zeta                     16 = 16 × 1
$typl8-scale: (
  typl8-tera: 117,
  typl8-giga: 90,
  typl8-mega: 72,
  typl8-alpha: 48,
  typl8-beta: 40,
  typl8-gamma: 31,
  typl8-delta: 25,
  typl8-epsilon: 20,
  typl8-zeta: 18,
);

$typl8-headings: (
  h1: typl8-mega,
  h2: typl8-alpha,
  h3: typl8-beta,
  h4: typl8-gamma,
  h5: typl8-delta,
  h6: typl8-zeta
);

@import "../../node_modules/typeplate-starter-kit/scss/typeplate-fonts";
@import "../../node_modules/typeplate-starter-kit/scss/typeplate-functions";
@import "../../node_modules/typeplate-starter-kit/scss/typeplate-mixins";
@import "../../node_modules/typeplate-starter-kit/scss/typeplate-extends";
@import "../../node_modules/typeplate-starter-kit/scss/typeplate-styles";
@import "../../node_modules/typeplate-starter-kit/scss/typeplate-helpers";




