
$bp_desktop: 800px;
$bp_tablet: 560px;
$color1: #E52E6A;
$color2: #F6CDD3;
$color3: #212122;
$color4: #646469;
$color5: #8492A5;
$color6: #DAD8D6;
$layout-max-height: 320px;
$layout-max-width: 680px;
$layout_mobile_margin: 1.25em;
$path_images: '../images/';
$path_fonts: '../fonts/'; 