
@import 'boilerplate';
@import 'normalize';
@import 'variables';
@import 'helpers';
@import 'fonts';

@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min';


*{
  box-sizing: border-box;
}


%button_cta{
  color: #fff;
  font-family: $font_main;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: .05em;

  background: $color1 no-repeat 15px center;
  background-size: 1.25em;
  padding: .5em 1.5em .5em;
  border-radius: 50px;
  border-top: solid 1px rgba(#fff, .3);

  transition: background-color 300ms ease;

  &:hover{
    background-color: darken($color1, 5%)
  }
}

.content{
  position: relative;
  margin: 0 auto;
} 


#registerForm,
#mailForm{
  display: none;
}


// 
html, body{
  margin: 0; padding: 0;
  font-family: $font_content;
  font-weight: normal;
  font-style: normal;
  @include typl8-hyphens(none)
}

body{}

h1, h2, h3, h4, h5{
  font-family: $font_main;
  font-weight: normal;
  font-style: normal;
}


#main_container{

}



header{
  text-align: center;

  .menubar{
    position: relative;
    background: $color1;
    padding: 1em;
    max-height: 75px;

    &:before,
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%; height: 1px;
      left: 0;
    }
    &:before{
      top: 1px;
      background: rgba(lighten($color1, 20%), .5);
    }
    &:after{
      bottom: 0px;
      background: rgba(darken($color1, 20%), .5);
    }

    img{
      margin: auto;
      max-width: 220px;
      width: percentage(195/320);
    }
  }



  .banner_container{
    position: relative;


    .banner{
      position: relative;
      @include responsive-container( percentage(265/320) );
      background: url($path_images+'banner.jpg') no-repeat 60% center;
      background-size: cover;
      border-bottom: solid 3px $color2;

      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba($color4, .55);
      }

      .title_container{
        position: absolute;
        width: 85%;
        z-index: 1;
        @include center-content(50%, 50%);

        h1{
          color: #fff;
          text-transform: uppercase;
          text-shadow: 2px 2px 0px rgba(#000, .15);
          @extend .typl8-beta;
          line-height: 1.12em;
          letter-spacing: .05em
        }

        h3{
          position: relative;
          display: none;
          color: #fff;
          font-family: $font_main;
          margin-bottom: 2em;
          letter-spacing: .06em;
          @extend .typl8-delta;

          &:before,
          &:after{
            content: '';
            display: block;
            position: absolute;
            @include center-content(null, 50%);
            width: 12%; height: 1px;
            background: rgba(#fff, .6);
          }
          &:before{
            left: calc(50% - 220px);
          }
          &:after{
            right: calc(50% - 220px);
          }
        }

        p{
          display: none;
          color: #cfcfcf;
          font-size: .875em;
        }

        a{
          @extend %button_cta;
          font-size: .92em;
          background-image: url($path_images+'icon_facebook_header.svg');
          background-size: 1.25em;
          padding: .75em 1.5em .75em 3em;
        }

        @media screen and (min-width: 728px){
          p{
            display: block;
          }
          h3{
            display: block;
          }
          a{
            font-size: 1em;
            padding: 1em 2.5em 1em 4.5em;
            background-size: 1.75em;
            background-position: 30px center
          }
        }
      }


      @media screen and (min-width: 400px){
        @include responsive-container( percentage(220/400) );
      }
      @media screen and (min-width: 900px){
        @include responsive-container( percentage(480/1280) );
        max-height: 420px;

        .title_container{
          max-width: 680px;

          p{
            font-size: 1em;
          }
        }
      }
    }


    .content{
      position: relative;
      margin: auto;
      max-width: 400px;
      //@include center-content(50%, 50%);
      color: $color4;
      padding: 3em $layout_mobile_margin;

      h1{
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 0px rgba(#000, .2);
        @extend .typl8-beta;
        line-height: 1.12em;
      }

      h3{
        position: relative;
        color: $color5;
        font-family: $font_main;
        @extend .typl8-epsilon;

        &:before,
        &:after{
          content: '';
          display: block;
          position: absolute;
          @include center-content(null, 50%);
          width: 12%; height: 1px;
          background: $color5;
        }
        &:before{
          left: calc(50% - 130px);
        }
        &:after{
          right: calc(50% - 130px);
        }
      }

      a{
        @extend %button_cta;
        font-size: .92em;
        background-image: url($path_images+'icon_facebook_header.svg');
        background-size: 1.25em;
        padding: .75em 1.5em .75em 3em;
      }

      @media screen and (min-width: 728px){
        display: none;
      }
    }
  }
}



section{
  position: relative;
  padding: 4em $layout_mobile_margin;
  text-align: center;

  h2{
    @extend .typl8-gamma;
    line-height: 1.25em;
    margin: 0 auto .875em;
    padding: 0 .875em;

    @media screen and (min-width: 728px){
      font-size: 2.222em;
    }
  }

  h3{
    @extend .typl8-delta;
    line-height: 1.25em;
    margin: 0 auto .75em;
    padding: 0 .875em;
  }

  h4{
    @extend .typl8-epsilon;
    line-height: 1.25em;
    margin: 0 auto .875em;
    padding: 0 .875em;
  }

  p{
    color: $color4;
    margin: 0 auto 1em;

    strong{
      color: $color1;
    }
  }

  .content{
    margin: auto;
    max-width: 400px;

    @media screen and (min-width: 728px){
      max-width: 580px;
    }
  }
}



section#about{
  background: url($path_images+'background_tile.svg') center bottom;

  .content{
    max-width: 728px;

    h2{
      color: $color1;
    }

    span{
      font-weight: bold
    }
  }
}


section#features{
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: -8px; left: 0;
    width: 100%; height: 8px;
  }
  &:before{
    background: url($path_images+'separador_waves_fill.svg') repeat-x center top;
  }
  &:after{
    opacity: .5;
    background: url($path_images+'separador_waves.svg') repeat-x center top;
  }


  ul.features_list{
    position: relative;
    margin: 0; padding: 0; border: 0;
    list-style: none;

    > li{
      position: relative;
      margin-bottom: 2em;
      padding-bottom: 2em;
      border-bottom: solid 1px $color6;

      &:last-of-type{
        margin-bottom: 0px;
        padding-bottom: 0px;
        border: none;
      }


      p{
        color: #BBBBBB;
        margin: 0;
      }

      a{
        color: $color5;
      }


      .icon{
        width: 100%;
        max-width: 72px;
        margin: 0 auto 1em;
        @include responsive-container(100%);
        background: no-repeat center;
        background-size: contain;
      }

      &.inspire{
        .icon{
          background-image: url($path_images+'icon_inspire.svg');
        }
      }
      &.buy{
        .icon{
          background-image: url($path_images+'icon_products.svg');
        }
      }
      &.sell{
        .icon{
          background-image: url($path_images+'icon_cart.svg');
        }
      }
    }    
  }


  .content{
    max-width: none;

    @media screen and (min-width: 728px){
      ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 4em;

        > li{
          width: 50%;
          padding: 0 1.75em;
          border: none;

          &.buy{
            order: -1;
            border-right: solid 1px lighten($color6, 5%);
          }
          &.sell{
            order: 0
          }
          &.inspire{
            order: 1;
            margin-top: 2em;
            width: 75%;
          }
        }
      }
    }

    @media screen and (min-width: 900px){
      max-width: 1300px;

      ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 4em;

        > li{
          width: 33.333%;
          padding: 0 1.75em;
          border-right: solid 1px lighten($color6, 5%);

          h4{
            width: 80%
          }

          &.buy{
            order: 1;
          }
          &.sell{
            order: 2
          }
          &.inspire{
            order: 0;
            margin-top: 0;
            width: 33.333%;
          }
        }
      }
    }
  }
}




section#inspire{
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 0;

  text-align: center;
  background: rgba($color2, .2) url($path_images+'background_tile.svg') center 10%;
  border-bottom: solid 1px $color6;
  border-top: solid 1px $color6;

  .content{
    padding-bottom: 2em;
    margin: auto;

    h2{
      color: $color1;
      margin-bottom: .5em;
    }

    p{
      color: $color4;
    }
  }

  .photo_container{
    position: relative;
    display: block;
    width: calc(100% + #{($layout_mobile_margin*2)});
    margin: 0 #{-$layout_mobile_margin};
    @include responsive-container( percentage(310/320) );
    background: url($path_images+'inspire_photo.jpg') no-repeat center;
    background-size: cover;

    @media screen and (min-width: 400px){
      @include responsive-container( percentage(240/400) );
    }
  }




  @media screen and (min-width: 728px){
    flex-flow: row nowrap;
    padding: 0;
    position: relative;
    width: 100%;
    min-height: 360px;

    .content{
      position: relative;
      max-width: 700px;
      width: 60%;
      padding: 2em 3em 2em;
      text-align: left;
      //@include center-content(null, 50%);

      h2{
        padding: 0;
      }
    }

    .photo_container{
      width: 40%;
      margin: 0;
      //height: 100%;

      &:before{
        display: none;
      }
    }
  }
}


section#responsive{
  .photo_container{
    position: relative;
    max-width: 480px;
    margin: 0 auto 4em;

    .desktop{
      position: relative;
      max-width: 609px;
      margin: 0 auto;
      @include responsive-container( percentage(338/609) );
      background: url($path_images+'responsive_desktop.png') no-repeat center;
      background-size: contain;
    }
    .mobile{
      position: absolute;
      max-width: 180px;
      width: percentage(100/320);
      bottom: -2em; right: percentage(10/320);
      @include responsive-container( percentage(304/197) );
      background: url($path_images+'responsive_mobile.png') no-repeat center;
      background-size: contain;
    }
  }

  .content{
    position: relative;
    padding: 3em 0;

    &:before,
    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 15px;
      background: url($path_images+'separador_waves.svg') repeat-x center;
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }

    h2{
      color: $color1;
      margin: 0 auto 1em
    }

    p{
      color: $color4;
      margin: 0; padding: 0;
    }
  }



  @media screen and (min-width: 900px){
    display: flex;
    padding: 4em 0;
    flex-flow: row nowrap;
    justify-content: space-around;

    .photo_container{
      width: 50%;
      max-width: none;
      padding: 0;
      margin: 0 auto;

      .mobile{
        bottom: -1em; right: percentage(10/900);
      }
    }

    .content{
      width: 50%;
      max-width: 500px;
    }
  }
}



section#register{
  padding-top: 4em;
  padding-bottom: 4em;
  background: url($path_images+'register_photo.jpg') no-repeat 90% center;
  background-size: cover;

  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: rgba(#fff, .7)
  }

  .content{
    position: relative;
    z-index: 1;
    margin: 0 auto 4em;

    h2{
      color: $color1;
    }

    p{
      color: $color4;

      padding-bottom: 1em;
      border-bottom: solid 1px darken($color6, 10%);
      margin-bottom: 2em;
    }

    a{
      @extend %button_cta;
      padding: .875em 2em .75em;
    }

    @media screen and (min-width: 728px){
      margin-bottom: 0
    }
  }


  @media screen and (min-width: 900px){
    padding-left: 5%;
    padding-right: 5%;
    min-height: 440px;
    margin: auto;
    background-size: 110%;
    background-position: 3% top;

    &:before{
      background: linear-gradient(to right, rgba(255,255,255, .9) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
    }

    .content{
      width: percentage(680/1280);
      margin: 0;
      position: absolute;
      @include center-content(null, 50%)
    }
  }
}



section#invite{
  background-color: #FFFBF6;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -8px; left: 0;
    width: 100%; height: 8px;
    background: url($path_images+'separador_waves_fill_beige.svg') repeat-x center top;
  }

  .content{
    position: relative;
    margin: 0 auto 4em;

    .icon{
      position: relative;
      width: 25%;
      max-width: 80px;
      margin: 0 auto 1em;
      @include responsive-container(100%);

      &:before{
        background: url($path_images+'icon_shout.svg') no-repeat center;
        background-size: contain;
      }
    }

    
    h3{
      color: $color1;
    }

    p{
      color: $color4;
      margin-bottom: 2em;
    }

    a{
      color: $color1;
      text-decoration: none;
    }

    ul{
      position: relative;
      border-top: solid 1px $color6;
      margin: 0 auto; padding: 2em 0 0;
      list-style: none;

      > li{
        position: relative;
        margin-bottom: .25em;

        &:last-of-type{
          margin-bottom: 0;
        }
        
        a{
          display: inline-block;
          padding: .25em 0 .25em 2em;
        }
        a.facebook{
          background: url($path_images+'icon_facebook.svg') no-repeat 0 center;
          background-size: 22px;
        }
        a.mail{
          padding-left: 2.5em;
          background: url($path_images+'icon_mail.svg') no-repeat 0 center;
          background-size: 30px;
        }
      }

      @media screen and (min-width: 728px){
        li{
          display: inline-block;
          margin: 0 1em;

          &:first-child{
            border-right: solid 1px $color6;
            padding-right: 2em;
          }
        }
      }
    }

    @media screen and (min-width: 400px){
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 900px){
    min-height: 480px;

    .content{
      position: absolute;
      @include center-content(50%, 50%)
    }
  }
}



footer{
  position: relative;
  text-align: center;
  //padding: 1em;

  ul#gallery{
    overflow: hidden;
    position: relative;
    width: calc(100% + #{$layout_mobile_margin});
    margin: 0 #{-$layout_mobile_margin}; padding: 0;
    list-style: none;
    @include responsive-container( percentage(190/320) );

    > li{
      overflow: hidden;
      position: absolute;
      width: 100%; height: 100%;
      top: 0; left: 0;

      img{
        position: absolute;
        @include responsive-image();
        @include center-content(50%, 50%);
      }
    }




    @media screen and (min-width: 400px){
      display: flex;
      flex-flow: row wrap;
      @include responsive-container( percentage(120/400) );
      
      > li{
        width: 50%;

        $counter: 0;
        @for $i from 0 through 3{
          &:nth-child(#{$i+1}){
            left: 50% * $counter;
          }
          $counter: $counter+1;
          $counter: if($counter > 1, 0, $counter);
        }
      }
    }

    @media screen and (min-width: 728px){
      @include responsive-container( percentage(160/728) );

      > li{
        width: 33.333%;

        $counter: 0;
        @for $i from 0 through 3{
          &:nth-child(#{$i+1}){
            left: 33.333% * $counter;
          }
          $counter: $counter+1;
          $counter: if($counter > 2, 0, $counter);
        }
      }
    }

    @media screen and (min-width: 900px){
      @include responsive-container( percentage(200/1280) );

      > li{
        width: 25%;

        &:nth-child(2){
          left: 25%;
        }
        &:nth-child(3){
          left: 50%;
        }
        &:nth-child(4){
          left: 75%;
        }
      }
    }
  }

  .content{
    background: $color4;
    color: $color6;
    padding: 1em;
    font-size: .875em;
    line-height: 1.25em;

    a{
      color: $color6;
      text-decoration: none;
      transition: color 200ms ease;

      &:hover{
        color: #fff;
      }
    }
  }
}

